<html><center>
<h1> Welcome to The Ansible Test Page with {{ app.version }}
<h2>This computer is running on  {{ ansible_os_family }},
and its hostname is:</h2>
<h3>{{ ansible_hostname }}</h3>
{# this is a comment, which won't be copied to the index.html file #}
</center></html>
